/*----------------------------------------------------------------------------*/
/*----------------------------- Global Settings ------------------------------*/
/*----------------------------------------------------------------------------*/
@import url('https://fonts.googleapis.com/css2?family=Barlow:wght@500;700&display=swap');
:root {
  --primary-color: #000;
  --secondary-color: #fff;
  --third-color: #C3423F;
}

* {
  margin: 0;
  padding: 0;
}

*,
*::before,
*::after {
  box-sizing: inherit;
}

html, body {
  overflow-x: hidden;
}

html {
  scroll-behavior: smooth;
}

body {
  position: relative;
  font-family: 'Barlow', Helvetica, sans-serif;
  font-weight: 500;
}


a {
  text-decoration: none;
}

#wrapper {
  padding: 0 10em;
}

/*----------------------------------------------------------------------------*/
/*----------------------------- Projects Info Area ---------------------------*/
/*----------------------------------------------------------------------------*/
.project-name {
  display: flex;
  width: 100%;
  align-items: center;
  justify-content: center;
  font-size: 3em;
  padding: 1em 0 1.5em 0;
  margin-bottom: 0.5em;
}

.projects-grid {
  display: grid;
  grid-template-columns: repeat(8, 1fr);
  grid-template-rows: auto;
  height: auto;
  width: 100%;
  overflow: hidden;
  grid-gap: 3em;
}

.project-info {
  grid-column: span 2;
  display: flex;
  flex-direction: column;
}

.project-desc {
  display: flex;
  flex-direction: column;
  font-size: 1.4em;
  max-width: 280px;
}

.project-info p {
  line-height: 1.2;
  margin-top: 0.7em;
}

.info {
  font-size: 1.1em;
}

.github {
  line-height: 1.2;
  margin-top: 1.5em;
  color: var(--third-color);
}

.github:hover {
  text-decoration: line-through;
}

.go-back {
  line-height: 1.2;
  margin-top: 3em;
  color: var(--primary-color);
}

.project-info h2 {
  width: 100%;
}

.portfolio-item {
  grid-column: span 6;
  display: grid;
  position: relative;
  width: 100%;
}

.portfolio-item:hover {
  cursor: pointer;
}

.portfolio-item > a > img {
  display: block;
  max-height: 100%;
  max-width: 100%;
  width: 100%;
  height: 100%;
  margin: auto;
}

.portfolio-item > a {
  position: relative;
}

.image {
  opacity: 1;
  display: block;
  width: 100%;
  height: auto;
  transition: .5s ease;
  backface-visibility: hidden;
}

.middle {
  transition: .5s ease;
  opacity: 0;
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  -ms-transform: translate(-50%, -50%);
  text-align: center;
}

.portfolio-item:hover .image {
  opacity: 0.5;
}

.portfolio-item:hover .middle {
  opacity: 1;
}

.text {
  background-color: var(--secondary-color);
  font-weight: 700;
  color: var(--primary-color);
  font-size: 1em;
  line-height: 1.6;
  padding: 1em 2em;
  border: 2px solid var(--primary-color);
}

/*----------------------------------------------------------------------------*/
/*-------------------------------- Media Queries -----------------------------*/
/*----------------------------------------------------------------------------*/

@media (max-width: 1400px) {
  #wrapper {
    padding: 0 8em;
  }
}

@media (max-width: 1200px) {
  #wrapper {
    padding: 0 4em;
  }
  .project-desc {
    font-size: 1.4em;
  }
  .project-name {
    margin-bottom: 0;
  }
}

@media (max-width: 1000px) {
  #wrapper {
    padding: 0 2em;
  }
  .project-name {
    font-size: 2.8em;
  }
  .project-desc {
    font-size: 1.3em;
    width: 380px;
    max-width: 380px;
  }
  .projects-grid {
    grid-template-columns: 1fr;
  }
  .portfolio-item {
    order: 1;
  }
  .project-info {
    order: 2;
    padding: 1em 3em 3em 3em;
    margin-left: 1.5em;
  }
}

@media only screen and (orientation:portrait) and (max-width: 500px) {
  #wrapper {
    padding: 0;
  }
  .project-name {
    font-size: 2.2em;
    padding: 1em 0;
  }
  .projects-grid {
    grid-template-columns: 1fr;
    grid-gap: 0;
  }
  .project-desc {
    font-size: 1.3em;
    width: 300px;
    max-width: 300px;
  }
  .project-info {
    margin-top: 1em;
    margin-left: 0.5em;
  }
}