/*----------------------------------------------------------------------------*/
/*----------------------------- Global Settings ------------------------------*/
/*----------------------------------------------------------------------------*/
@import url('https://fonts.googleapis.com/css2?family=Barlow:wght@500;700&display=swap');
:root {
  --primary-color: #000;
  --secondary-color: #fff;
}

* {
  margin: 0;
  padding: 0;
}

*,
*::before,
*::after {
  box-sizing: inherit;
}

html, body {
  overflow-x: hidden;
}

html {
  scroll-behavior: smooth;
}

body {
  position: relative;
  font-family: 'Barlow', Helvetica, sans-serif;
  font-weight: 500;
}

h1 {
  font-size: 2.3em;
}

h2 {
  font-size: 1.8em;
  line-height: 1.3em;
}

a {
  text-decoration: none;
}

.content {
  display: flex;
  flex-direction: column;
}


/*----------------------------------------------------------------------------*/
/*------------------------------- Navigation ---------------------------------*/
/*----------------------------------------------------------------------------*/
#navbar {
  display: flex;
  justify-content: flex-end;
  position: fixed;
  width: 100%;
  height: 60px;
  top: 0;
  left: 0;
  z-index: 10;
}

nav a {
  font-size: 1.8em;
  padding: 0.4em 1.2em;
  color: var(--primary-color);
}

nav a:hover {
  text-decoration: line-through;
}


/*----------------------------------------------------------------------------*/
/*----------------------------- Welcome Section ------------------------------*/
/*----------------------------------------------------------------------------*/
.welcome-section {
  display: flex;
  flex-direction: column;
  justify-content: center;
  width: 100vw;
  height: 100vh;
  z-index: 5;
}

.welcome-content {
  padding-left: 4em;
}

.text-block {
  max-width: 800px;
  padding: 0.5em 0;
  margin-left: 0.4rem;
}

h1, h2 {
  display: inline;
  background-color: var(--primary-color);
  color: var(--secondary-color);
  font-size: 2.5em;
  line-height: 1.1;
  padding: 0 0.2em;
  box-shadow: 7px 0 0 var(--primary-color), -7px 0 0 var(--primary-color);
}
.welcome-heading {
  font-size: 3.2em;
}

.welcome-sub {
  align-items: center;
  font-size: 2.3em;
  line-height: 1.2;
}

.hero {
    height: 100%;
    position: relative;
}

canvas {
  position: absolute;
  width: 100vw;
  height: 100vh;
  z-index: 1;
  display: block;
}

/*----------------------------------------------------------------------------*/
/*----------------------------- Projects Section -----------------------------*/
/*----------------------------------------------------------------------------*/
.projects-grid {
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(480px, 1fr));
  grid-template-rows: auto;
  height: 100%;
  width: 100%;
  overflow: hidden;
}

.portfolio-item {
  display: grid;
  position: relative;
  width: 100%;
}

.portfolio-item:hover {
  cursor: pointer;
}

.portfolio-item > a > img {
  display: block;
  max-height: 100%;
  max-width: 100%;
  width: 100%;
  height: 100%;
  margin: auto;
}

.portfolio-item > a {
  position: relative;
}

.image {
  opacity: 1;
  display: block;
  width: 100%;
  height: auto;
  transition: .5s ease;
  backface-visibility: hidden;
}

.middle {
  transition: .5s ease;
  opacity: 0;
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  -ms-transform: translate(-50%, -50%);
  text-align: center;
}

.portfolio-item:hover .image {
  opacity: 0.5;
}

.portfolio-item:hover .middle {
  opacity: 1;
}

.text {
  background-color: var(--secondary-color);
  font-weight: 700;
  color: var(--primary-color);
  font-size: 1em;
  line-height: 1.6;
  padding: 1em 2em;
  border: 2px solid var(--primary-color);
}

/*----------------------------------------------------------------------------*/
/*----------------------------- Contact Section ------------------------------*/
/*----------------------------------------------------------------------------*/
.contact-section {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  width: 100%;
  margin-top: 1.5em;
  margin-bottom: 1em;
}

.contact-links {
  display: flex;
  justify-content: center;
  width: 100%;
  flex-wrap: wrap;
}

.contact-head {
  font-weight: 500;
  padding: 0.5em;
  font-size: 2em;
  margin: 0.5em 0;
}

.contact-section p {
  padding: 0.7em 0 0.5em 0;
  font-size: 1.5em;
  text-align: center;
  line-height: 1.4;
}

i {
  color: rgb(160, 160, 160);
  font-size: 3em;
  padding: 0.2em 0.4em;
  margin-top: 0.1em;
  margin-bottom: 0.4em;
}

i:hover {
  color: var(--primary-color);
}

/*----------------------------------------------------------------------------*/
/*------------------------------ Media Queries -------------------------------*/
/*----------------------------------------------------------------------------*/
@media (max-width: 1025px) {
  .welcome-content {
    padding-left: 2em;
  }
}

@media only screen and (orientation:landscape) and (max-width: 780px) {
  .welcome-sub {
    font-size: 2.2em;
  }
  .welcome-content {
    margin-top: 6em;
    padding-left: 1.2em;
    text-align: left;
  }
  .welcome-sub {
    line-height: 1.5;
  }
  .text-block h1 {
    font-size: 2.8em;
  }
  .middle {
    opacity: 1;
  }
}

@media only screen and (orientation:portrait) and (max-width: 500px) {
  .welcome-content {
    margin-top: 4em;
    padding: 0 2em;
    text-align: center;
  }
  .welcome-heading {
    font-size: 2em;
  }
  .welcome-sub {
    font-size: 1.5em;
    line-height: 1.4;
  }
  #navbar {
    justify-content: center;
  }
  nav a {
    font-size: 1.7em;
    padding: 0.5em 0.9em;
  }
  .portfolio-item {
    width: 100vw;
  }
  .middle {
    opacity: 1;
  }
  .text {
    font-size: 0.9em;
    line-height: 1.4;
    padding: 0.7em 1em;
  }
  .contact-section {
    margin-top: 1em;
    margin-bottom: 0.5em;
  }
  i {
    font-size: 2.4em;
  }
  .contact-head {
    font-size: 1.6em;
    margin: 0.5em 0 0.2em 0;
  }
  .contact-section p {
    font-size: 1.2em;
    text-align: center;
    line-height: 1.3;
    padding: 1em 1em;
  }
}

