/*----------------------------------------------------------------------------*/
/*----------------------------- Global Settings ------------------------------*/
/*----------------------------------------------------------------------------*/
* {
  margin: 0;
  padding: 0;
}

*,
*::before,
*::after {
  box-sizing: inherit;
}

html, body {
  overflow-x: hidden;
}

html {
  scroll-behavior: smooth;
}

body {
  position: relative;
  font-family: 'Helvetica', sans-serif;
}

h1 {
  font-size: 2.3em;
}

h2 {
  font-size: 1.8em;
  line-height: 1.3em;
}

a {
  text-decoration: none;
}

.content {
  display: flex;
  flex-direction: column;
}


/*----------------------------------------------------------------------------*/
/*------------------------------- Navigation ---------------------------------*/
/*----------------------------------------------------------------------------*/
#navbar {
  display: flex;
  justify-content: flex-end;
  position: fixed;
  width: 100%;
  height: 60px;
  top: 0;
  left: 0;
  z-index: 10;
}

nav a {
  font-size: 1.5em;
  padding: 1.2em;
  color: black;
}

nav a:hover {
  text-decoration: line-through;
}


/*----------------------------------------------------------------------------*/
/*----------------------------- Welcome Section ------------------------------*/
/*----------------------------------------------------------------------------*/
.welcome-section {
  display: flex;
  flex-direction: column;
  justify-content: center;
  width: 100vw;
  height: 100vh;
  z-index: 5;
}

.welcome-content {
  padding-left: 4em;
}

.welcome-heading {
  margin-top: -3em;
}

.welcome-sub {
  margin-top: 1em;
  align-items: center;
}

.hero {
    height: 100%;
    position: relative;
}

canvas {
  position: absolute;
  width: 100vw;
  height: 100vh;
  z-index: 1;
  display: block;
}

/*----------------------------------------------------------------------------*/
/*----------------------------- Projects Section -----------------------------*/
/*----------------------------------------------------------------------------*/
.projects-grid {
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(480px, 1fr));
  grid-template-rows: auto;
  height: 100%;
  width: 100%;
  overflow: hidden;
}

.portfolio-item {
  display: grid;
}

.portfolio-item:hover {
  cursor: pointer;
}

.portfolio-item > a > img {
  display: block;
  max-height: 100%;
  max-width: 100%;
  width: 100%;
  height: 100%;
  margin: auto;
}

.portfolio-item > a {
  position: relative;
}

.portfolio-item {
  position: relative;
  width: 100%;
}

.image {
  opacity: 1;
  display: block;
  width: 100%;
  height: auto;
  transition: .5s ease;
  backface-visibility: hidden;
}

.middle {
  transition: .5s ease;
  opacity: 0;
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  -ms-transform: translate(-50%, -50%);
  text-align: center;
}

.portfolio-item:hover .image {
  opacity: 0.5;
}

.portfolio-item:hover .middle {
  opacity: 1;
}

.text {
  background-color: white;
  font-weight: 600;
  color: black;
  font-size: 1em;
  line-height: 1.6;
  padding: 1em 2em;
  border: 2px solid black;
}

/*----------------------------------------------------------------------------*/
/*----------------------------- Contact Section ------------------------------*/
/*----------------------------------------------------------------------------*/
.contact-section {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  width: 100%;
  margin-top: 1.5em;
  margin-bottom: 1em;
}

.contact-links {
  display: flex;
  justify-content: center;
  width: 100%;
  flex-wrap: wrap;
}

.contact-head {
  font-weight: 500;
  padding: 0.5em;
  font-size: 1.5em;
}

.contact-section p {
  padding: 0.7em;
  text-align: center;
  line-height: 1.6;
}

i {
  color: black;
  font-size: 3.2em;
  padding: 0.2em 0.4em;
  margin-top: 0.1em;
  margin-bottom: 0.4em;
}

/*----------------------------------------------------------------------------*/
/*------------------------------ Media Queries -------------------------------*/
/*----------------------------------------------------------------------------*/
@media only screen and (max-width: 500px) {
  .welcome-heading {
    font-size: 1.8em;
  }
  .welcome-sub {
    font-size: 1.5em;
  }
  .welcome-content {
    margin-top: 10em;
    padding: 0 2em;
    text-align: center;
  }
  .welcome-sub {
    line-height: 1.3;
  }
  #navbar {
    justify-content: center;
  }
  .portfolio-item {
    width: 100vw;
  }
  .middle {
    opacity: 1;
  }
  .text {
    font-size: 0.9em;
    line-height: 1.4;
    padding: 0.7em 1em;
  }
  .contact-section {
    margin-top: 1em;
    margin-bottom: 0.5em;
  }
  .contact-section p {
    padding: 0.3em;
  }
}

@media only screen and (orientation:portrait) and (max-width: 580px) {
  i {
    font-size: 2.4em;
  }
  .contact-head {
    font-size: 1.5em;
    padding: 0.3em;
  }
  .contact-section p {
    text-align: center;
    font-size: 1em;
    line-height: 1.4;
    padding: 1em 2em;
  }
}
