@import url('https://fonts.googleapis.com/css2?family=Barlow:wght@500;700&display=swap');

:root {
  --primary-color: #000;
  --secondary-color: #fff;
  --third-color: rgb(160, 160, 160);
  --fourth-color: #C3423F;
}