@import "config";

#footer-cookie,
#footer-cookie * {
  box-sizing: border-box;
}

#footer-cookie {
  display: none;
  position: fixed;
  bottom: 0px;
  left: 0px;
  width: 100%;
  height: 60px;
  padding-left: 30px;
  padding-right: 30px;
  line-height: 60px;
  background: $primary-color;
  color: $secondary-color;
  z-index: 50;
  font-size: 0.9rem;
}

#footer-cookie a {
  color: $secondary-color;
}

#footer-cookie #description {
  float: left;
}

#footer-cookie #description a {
    text-decoration: underline;

    &:hover {
        text-decoration: line-through;
    }
}

#footer-cookie #accept {
  float: right;
}

#footer-cookie #accept a {
  border: 1px solid $secondary-color;
  padding: 5px 10px;
  text-decoration: none;

  &:hover {
      color: $primary-color;
      background-color: $secondary-color;
  }
}

@media (max-width: 500px) {
  #footer-cookie {
    padding-top: 30px;
    padding-bottom: 30px;
    line-height: inherit;
    height: auto;
  }

  #footer-cookie #description {
    width: 100%;
  }

  #footer-cookie #accept {
    width: 100%;
    margin-top: 15px;
  }

  #footer-cookie #accept a {
    width: 100%;
    display: block;
    text-align: center;
  }
}