.gallery {
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(300px, 1fr));
    justify-items: center;
    grid-gap: 1rem 1rem;
    margin: 0 1rem;
}

.gallery img {
    transition: 1s;
    // padding: 1rem;
    align-self: center;
    justify-self: space-between;
    width: 300px;
}

.gallery img:hover {
    filter: grayscale(100%);
    // transform: scale(1.05);
}
