@media (max-width: 1400px) {
    #wrapper {
      padding: 0 8em;
    }
  }
  
  
  @media (max-width: 1300px) {
    #wrapper {
      padding: 0 5em;
    }
    .project-name {
      font-size: 2.6em;
    }
  }
  
  @media (max-width: 1030px) {
    #wrapper {
      padding: 0;
    }
    .project-name {
      font-size: 2.3em;
    }
  }
  
  @media (max-width: 770px) {
    #wrapper {
      padding: 0;
    }
    .project-name {
      font-size: 2em;
    }
    .project-info {
      grid-column: 3 / 7;
    }
    .project-title {
      margin-top: 2rem;
      font-size: 1.9em;
    }
  }
  
  @media only screen and (orientation:portrait) and (max-width: 500px) {
    // #wrapper {
    //   padding: 2rem 0 0 0;
    // }
    .project-name {
      width: 100%;
      font-size: 1em;
      padding: 1.6rem 0;
    }
    .project-title {
      width: 90%;
    }
    .portfolio-item {
      margin-top: 2rem;
    }
    .project-desc {
      font-size: 1.3rem;
    }
    .projects-grid .project-info {
      grid-column: 2 / 8;
    }
    .middle {
      opacity: 1;
    }
    .mockup {
      padding: 1em 0;
    }
    .mockup-item {
      padding: 1em 0;
    }
  }