@media (max-width: 1025px) {
  .welcome-content {
    padding-left: 2em;
  }
}

@media only screen and (orientation: landscape) and (max-width: 780px) {
  .welcome-sub {
    font-size: 2.2em;
  }
  .welcome-content {
    margin-top: 6em;
    padding-left: 1.2em;
    text-align: left;
  }
  .welcome-sub {
    line-height: 1.5;
  }
  .text-block h1 {
    font-size: 2.5em;
  }
  .text-block h2 {
    font-size: 1.8em;
    line-height: 1.2;
  }
  .middle {
    opacity: 1;
  }
}

@media only screen and (orientation: portrait) and (max-width: 500px) {
  .welcome-content {
    margin-top: 4em;
    padding: 0 2em;
    text-align: center;
  }
  .welcome-heading {
    font-size: 2.2em;
  }
  .welcome-sub {
    font-size: 1.6em;
    line-height: 1.3;
  }
  #navbar {
    justify-content: center;
  }
  .nav a {
    font-size: 1.7em;
    padding: 0.4em 0.9em;
  }
  .portfolio-item {
    width: 100vw;
  }
  .middle {
    opacity: 1;
  }
  .text {
    font-size: 1.1rem;
    line-height: 1.4;
    padding: 0.7em 1em;
  }
 .footer {
   margin-top: 0rem;

   .footer-paragraph {
     font-size: 1rem;
   }

   i {
     font-size: 1.1rem;
   }
 }
}
