@media (max-width: 800px) {
  #wrapper {
    padding: 0;
  }
}

@media (max-width: 700px) {
  .container .about-section {
    width: 400px;
    
    .about-info {
      font-size: 1.6rem;
    }
  }
  
}

@media (max-width: 500px) {
  .container .about-header {
    font-size: 1.8rem;
    margin: 0;
  }
  .container .about-section {
    width: 280px;

    .about-info {
      font-size: 1.5rem;
    }
  }
}
