@media (max-width: 1400px) {
  #wrapper {
    padding: 0 8rem;
  }
}

@media (max-width: 1300px) {
  #wrapper {
    padding: 0 5rem;
  }
  .project-name {
    .project-title {
      font-size: 4rem;
    }
  }
}

@media (max-width: 1030px) {
  #wrapper {
    padding: 0;
  }
  .project-name {
    .project-title {
      font-size: 3.5rem;
    }
  }
}

@media (max-width: 770px) {
  #wrapper {
    padding: 0;
  }
  .project-info {
    grid-column: 3 / 7;
  }
  .project-name .project-title {
    font-size: 3.2rem;
  }
}

@media only screen and (orientation: portrait) and (max-width: 500px) {
  // #wrapper {
  //   padding: 2rem 0 0 0;
  // }
  .project-name {
    width: 100%;
    padding: 1.6rem 0;
    line-height: 1.2;

    .project-title {
      font-size: 1.8rem;
      width: 60%;
    }
  }

  .project-desc {
    font-size: 1.2em;
  }
  .projects-grid .project-info {
    grid-column: 2 / 8;
  }
  .middle {
    opacity: 1;
  }
  .projects-grid .mockup {
    padding: 1.5rem 0;
  }
  .projects-grid .mockup-item {
    padding: 0.75rem 0;

    .fallback-img {
      display: inline-block;
    }
  }
  .video {
    display: none;
  }
  .projects-grid .style-guide .image-desktop {
    display: none;
  }
  .projects-grid .style-guide .image-mobile {
    display: block;
  }
}
