@media (max-width: 800px) {
  #wrapper {
    padding: 0;
  }
}

@media (max-width: 700px) {
  .about-section {
    width: 400px;
  }
  .about-info {
    font-size: 1.6em;
  }
}

@media (max-width: 500px) {
  .about-header {
    font-size: 2em;
    margin: 0;
  }
  .about-section {
    width: 280px;
  }
  .about-info {
    font-size: 1.5em;
  }
}
