@media (max-width: 770px) {
  .desktop-carousel .carousel,
  .tablet-carousel .carousel2,
  .mobile-carousel .carousel3 {
    height: 500px;
  }
  .desktop-carousel .carousel__nav,
  .tablet-carousel .carousel__nav2,
  .mobile-carousel .carousel__nav3 {
    visibility: hidden;
    padding: 0;
  }
}

@media (max-width: 500px) {
  .desktop-carousel .carousel,
  .tablet-carousel .carousel2,
  .mobile-carousel .carousel3 {
    height: 270px;
  }

  .desktop-carousel .carousel__button,
  .tablet-carousel .carousel__button2,
  .mobile-carousel .carousel__button3 {
    top: 45%;
  }
  .desktop-carousel .carousel__button i,
  .tablet-carousel .carousel__button2 i,
  .mobile-carousel .carousel__button3 i {
    font-size: 4rem;
  }
  .desktop-carousel .carousel__button--left,
  .tablet-carousel .carousel__button2--left,
  .mobile-carousel .carousel__button3--left {
    left: 5%;
  }
  .desktop-carousel .carousel__button--right,
  .tablet-carousel .carousel__button2--right,
  .mobile-carousel .carousel__button3--right {
    right: 5%;
  }
}
