.glide-item {
    background: #fff;
    display: block;
    width: 100%;
}

.glider-next,
.glider-prev {
    color: black;
    top: 41%;
}

.glider-next {
    right: 1%;
}
.glider-prev {
    left: 1%;
}

.glider-next:focus,
.glider-next:hover,
.glider-prev:focus,
.glider-prev:hover {
  color: #474747;
}

.glider-dot.active {
    background: black;
}

.glider {
    scrollbar-width: none;
    -ms-overflow-style: none;  /* IE 10+ */
}

.glider::-webkit-scrollbar {
    width: 0px;
    background: transparent; /* Chrome/Safari/Webkit */
}

.glider-dots {
    margin-top: 1.2rem;
}

.glider-contain {
    margin-bottom: 3.5rem;
}

@media (max-width: 500px) {
    .glider-dots {
        display: none;
    }
    .glider-contain {
        margin-bottom: 3rem;
    }
    .glider-next {
        display: none;
        right: 2%;
    }
    .glider-prev {
        display: none;
        left: 2%;
    }
}

