.glide-item {
    background: #fff;
    display: block;
    width: 100%;
}

.glider-next,
.glider-prev {
    color: black;
    top: 40%;
}

.glider-next {
    right: 7%;
}
.glider-prev {
    left: 7%;
}

.glider-next:focus,
.glider-next:hover,
.glider-prev:focus,
.glider-prev:hover {
  color: #474747;
}

.glider-dot.active {
    background: black;
}

.glider {
    scrollbar-width: none;
    -ms-overflow-style: none;  /* IE 10+ */
}

.glider::-webkit-scrollbar {
    width: 0px;
    background: transparent; /* Chrome/Safari/Webkit */
}

.glider-dots {
    margin: 1.2rem 0 3.5rem 0;
}

@media (max-width: 500px) {
    .glider-dots {
        display: none;
    }
}

