@import "config";

* {
  margin: 0;
  padding: 0;
}

*,
*::before,
*::after {
  box-sizing: inherit;
}

html,
body {
  overflow-x: hidden;
}

html {
  scroll-behavior: smooth;
}

body {
  position: relative;
  font-family: $font-stack;
  font-weight: 500;
  color: $primary-color;
  background-color: $secondary-color;
}

a {
  text-decoration: none;
}

#wrapper {
  padding: 0 2rem;
}

.container {
  .about-header {
    display: flex;
    width: 100%;
    align-items: center;
    justify-content: center;
    font-size: 2.5rem;
    padding: 2rem 0 2rem 0;
    margin-bottom: 2rem;
    text-align: center;
    line-height: 1;
  }

  .about-section {
    width: 600px;
    margin: 0 auto;

    .about-info {
      font-size: 1.7em;
      font-weight: 300;

      p {
        margin-bottom: 1.1em;
      }
    }
  }
}

.contact-section {
  display: flex;
  flex-direction: column;
  font-size: 1.4rem;

  .mail {
    color: $fourth-color;
    font-size: 1.6rem;

    &:hover {
      text-decoration: line-through;
    }
  }

  .go-back {
    font-weight: 500;
    line-height: 1.2;
    margin-top: 4rem;
    color: $primary-color;
    border: 3px solid $primary-color;
    width: 5.25rem;
    padding: 0.5rem;

    i {
      margin-right: 0.7rem;
    }

    &:hover {
      color: $secondary-color;
      background: $primary-color;
      border-color: $primary-color;
    }
  }
}

@import "media-about";
