@import "config";
@import "close";
@import "cursor";
@import "footer-back";
@import "arrow-left";
@import "back-to-top";

* {
  margin: 0;
  padding: 0;
}

*,
*::before,
*::after {
  box-sizing: inherit;
}

html,
body {
  overflow-x: hidden;
}

html {
  scroll-behavior: smooth;
}

body {
  position: relative;
  font-family: $font-stack;
  color: $primary-color;
  background-color: $secondary-color;
}

a {
  text-decoration: none;
}

#wrapper {
  padding: 0 2rem;
}

.about-section {
  width: 85%;
  margin: 0 auto 3rem auto;
  padding-top: 4rem;

  .about-info {
    font-size: 3rem;
    font-weight: 400;

    p {
      margin-bottom: 1.1em;

      &::-moz-selection {
        background-color: $primary-color;
        color: $secondary-color;
      }

      &::selection {
        background-color: $primary-color;
        color: $secondary-color;
      }
    }
  }
}

.policy-section {
  border-top: 1px solid $primary-color;
  padding-top: 3rem;
  padding-bottom: 3rem;
  width: 85%;
  margin: 0 auto;
  font-weight: 400;


  .dsvgo {
    column-count: 2;
    column-gap: 2rem;
    font-size: 1rem;
    font-weight: 300;

    h2 {
      font-size: 1rem;
      font-weight: 800;
      padding-bottom: 1.5rem;

      &::-moz-selection {
        background-color: $primary-color;
        color: $secondary-color;
      }

      &::selection {
        background-color: $primary-color;
        color: $secondary-color;
      }
    }

    h3,
    h4 {
      font-size: 1rem;
      font-weight: 400;
      padding: 1.5rem 0 1.5rem 0;

      &::-moz-selection {
        background-color: $primary-color;
        color: $secondary-color;
      }

      &::selection {
        background-color: $primary-color;
        color: $secondary-color;
      }
    }

    p::-moz-selection {
      background-color: $primary-color;
      color: $secondary-color;
    }

    p::selection {
      background-color: $primary-color;
      color: $secondary-color;
    }

    span::-moz-selection {
      background-color: $primary-color;
      color: $secondary-color;
    }

    span::selection {
      background-color: $primary-color;
      color: $secondary-color;
    }

    ul {
      padding: 1rem 0 1rem 0;

      li {
        margin-left: 1.5rem;

        &::-moz-selection {
          background-color: $primary-color;
          color: $secondary-color;
        }

        &::selection {
          background-color: $primary-color;
          color: $secondary-color;
        }
      }
    }

    .objection {
      padding-top: 1rem;

      strong {
        font-weight: 400;

        &::-moz-selection {
          background-color: $primary-color;
          color: $secondary-color;
        }

        &::selection {
          background-color: $primary-color;
          color: $secondary-color;
        }
      }
    }

    a {
      color: $primary-color;
      text-decoration: underline;

      &:hover {
        text-decoration: line-through;
      }

      &::-moz-selection {
        background-color: $primary-color;
        color: $secondary-color;
      }

      &::selection {
        background-color: $primary-color;
        color: $secondary-color;
      }
    }

    .source {
      padding-top: 1.5rem;
    }

  }
}

.link {
  color: $primary-color;
  text-decoration: underline;
  font-size: 3rem;
  font-weight: 400;

  &:hover {
    text-decoration: line-through;
  }

  &::-moz-selection {
    background-color: $primary-color;
    color: $secondary-color;
  }

  &::selection {
    background-color: $primary-color;
    color: $secondary-color;
  }
}

.footer {
  width: 85%;
  margin: 0 auto;
}


@import "media-about";