@import "config";

* {
  margin: 0;
  padding: 0;
}

*,
*::before,
*::after {
  box-sizing: inherit;
}

html, body {
  overflow-x: hidden;
}

html {
  scroll-behavior: smooth;
}

body {
  position: relative;
  font-family: 'Barlow', Helvetica, sans-serif;
  font-weight: 500;
}


a {
  text-decoration: none;
}

#wrapper {
  padding: 0 10em;
}

/*----------------------------------------------------------------------------*/
/*----------------------------- Projects Info Area ---------------------------*/
/*----------------------------------------------------------------------------*/
.project-name {
  display: flex;
  width: 100%;
  align-items: center;
  justify-content: center;
  font-size: 2.7em;
  padding: 1em 0 1.5em 0;
  text-align: center;
  line-height: 1;
}

.project-title {
  width: 85%;
}

.projects-grid {
  display: grid;
  grid-template-columns: repeat(8, 1fr);
  grid-template-rows: auto;
  height: auto;
  width: 100%;
  overflow: hidden;
}

.project-info {
  grid-column: 3 / 8;
  display: flex;
  flex-direction: column;
  margin: 4em 0 5em 0;
  order: 3;
}

.project-desc {
  display: flex;
  flex-direction: column;
  font-size: 1.4em;
}

.project-info p {
  line-height: 1.2;
  margin-top: 0.8em;
}

.info {
  font-size: 1.1em;
}

.github {
  line-height: 1.2;
  margin-top: 1.5em;
  color: var(--fourth-color);
}

.github:hover {
  text-decoration: line-through;
}

.go-back {
  line-height: 1.2;
  margin-top: 3em;
  color: var(--primary-color);
}

.project-info h2 {
  width: 100%;
}

.portfolio-item {
  grid-column: span 8;
  display: grid;
  position: relative;
  width: 100%;
  height: auto;
  object-fit: cover;
}

.portfolio-item:hover {
  cursor: pointer;
}

.portfolio-item > a > img {
  display: block;
  max-height: 100%;
  max-width: 100%;
  width: 100%;
  height: 100%;
  margin: auto;
}

.portfolio-item > a {
  position: relative;
}

.image {
  opacity: 1;
  display: block;
  width: 100%;
  height: auto;
  transition: .5s ease;
  backface-visibility: hidden;
  object-fit: cover;
}

.middle {
  transition: .5s ease;
  opacity: 0;
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  -ms-transform: translate(-50%, -50%);
  text-align: center;
}

.portfolio-item:hover .image {
  opacity: 0.5;
}

.portfolio-item:hover .middle {
  opacity: 1;
}

.text {
  background-color: var(--secondary-color);
  font-weight: 700;
  color: var(--primary-color);
  font-size: 1em;
  line-height: 1.6;
  padding: 1em 2em;
  border: 2px solid var(--primary-color);
}

.mockup {
  grid-column: span 8;
  order: 2;
  width: 100%;
  height: auto;
  margin: 2em 0 -1em 0;
  padding: 4em 0 0 0;
}

.mockup-item {
  padding: 1em 0;
}

@import "media-info";