@import "config";

* {
  margin: 0;
  padding: 0;
}

*,
*::before,
*::after {
  box-sizing: inherit;
}

html,
body {
  overflow-x: hidden;
}

html {
  scroll-behavior: smooth;
}

body {
  position: relative;
  font-family: $font-stack;
  font-weight: 500;
}

a {
  text-decoration: none;
}

#wrapper {
  padding: 0 10em;
}

.border {
  outline: 4px solid $primary-color;
  outline-offset: -4px;
}

.image {
  opacity: 1;
  display: block;
  width: 100%;
  height: auto;
  transition: 0.5s ease;
  backface-visibility: hidden;
  object-fit: cover;
}

.video {
  object-fit: fill;
  width: 100%;
}

.text {
  background-color: $secondary-color;
  font-weight: 700;
  color: $primary-color;
  font-size: 1em;
  line-height: 1.6;
  padding: 1em 2em;
  border: 2px solid $primary-color;
}

.middle {
  transition: 0.5s ease;
  opacity: 0;
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  -ms-transform: translate(-50%, -50%);
  text-align: center;
}

.project-name {
  display: flex;
  width: 100%;
  align-items: center;
  justify-content: center;
  font-size: 2.7em;
  padding: 3rem 0 3rem 0;
  text-align: center;
  line-height: 1;

  .project-title {
    width: 85%;
    margin: auto 0;
  }
}

.projects-grid {
  display: grid;
  grid-template-columns: repeat(8, 1fr);
  grid-template-rows: auto;
  height: auto;
  width: 100%;
  overflow: hidden;

  .project-info {
    grid-column: 2 / 8;
    display: flex;
    flex-direction: column;
    margin: 4em 0 5em 0;
    order: 3;

    p {
      line-height: 1.2;
      margin-top: 0.8em;
    }

    .project-desc {
      display: flex;
      flex-direction: column;
      font-size: 1.4em;

      .info {
        font-size: 1.1em;
        width: 100%;
      }

      .github {
        line-height: 1.2;
        margin-top: 1.5em;
        color: $fourth-color;

        &:hover {
          text-decoration: line-through;
        }
      }

      .go-back {
        line-height: 1.2;
        margin-top: 4rem;
        color: $primary-color;

        &:hover {
          color: $fifth-color;
        }
      }
    }
  }

  .mockup {
    grid-column: span 8;
    order: 2;
    width: 100%;
    height: auto;
    margin: 0 0 -1em 0;
    padding: 4em 0 0 0;

    &-item {
      padding: 2.5rem 0;
    }
  }

  .portfolio-item {
    grid-column: span 8;
    display: grid;
    position: relative;
    width: 100%;
    height: auto;
    object-fit: cover;

    a {
      position: relative;

      img {
        display: block;
        max-height: 100%;
        max-width: 100%;
        width: 100%;
        height: 100%;
        margin: auto;
      }
    }
  }

  .portfolio-item:hover {
    cursor: pointer;

    .image {
      opacity: 0.5;
    }

    .middle {
      opacity: 1;
    }
  }
}

@import "media-info";
