@import "config";

* {
  margin: 0;
  padding: 0;
}

*,
*::before,
*::after {
  box-sizing: inherit;
}

html,
body {
  overflow-x: hidden;
}

html {
  scroll-behavior: smooth;
}

body {
  position: relative;
  font-family: $font-stack;
  font-weight: 500;
}

h1 {
  font-size: 2.3rem;
}

h2 {
  font-size: 1.8rem;
  line-height: 1.3;
}

a {
  text-decoration: none;
}

.nav {
  display: flex;
  justify-content: flex-end;
  position: fixed;
  width: 100%;
  height: 60px;
  top: 0;
  left: 0;
  z-index: 10;

  a {
    font-size: 2rem;
    padding: 0.8rem 2.2rem;
    color: $primary-color;
  }

  a:hover {
    text-decoration: line-through;
  }
}

.content {
  display: flex;
  flex-direction: column;
}

.hero {
  height: 100%;
  position: relative;

  canvas {
    position: absolute;
    width: 100vw;
    height: 100vh;
    z-index: 1;
    display: block;
  }
}

.welcome-section {
  display: flex;
  flex-direction: column;
  justify-content: center;
  width: 100vw;
  height: 100vh;
  z-index: 5;
}

.welcome-content {
  padding-left: 4em;
}

.text-block {
  max-width: 600px;
  padding: 0.5em 0;
  margin-left: 0.4rem;
}

h1,
h2 {
  display: inline;
  background-color: $primary-color;
  color: $secondary-color;
  font-size: 2.5rem;
  line-height: 1.1;
  padding: 0 0.1rem;
  box-shadow: 7px 0 0 $primary-color, -7px 0 0 $primary-color;
}
.welcome-heading {
  font-size: 3.2rem;
  line-height: 1.2;
}

.welcome-sub {
  align-items: center;
  font-size: 2.3rem;
  line-height: 1.2;
}

.projects-grid {
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(550px, 1fr));
  grid-template-rows: auto;
  height: 100%;
  width: 100%;
  overflow: hidden;
}

.portfolio-item {
  display: grid;
  position: relative;
  width: 100%;

  &:hover {
    cursor: pointer;
  }
}

.portfolio-item > a > img {
  display: block;
  max-height: 100%;
  max-width: 100%;
  width: 100%;
  height: 100%;
  margin: auto;
}

.portfolio-item > a {
  position: relative;
}

.portfolio-item:hover .image {
  opacity: 0.5;
}

.portfolio-item:hover .middle {
  opacity: 1;
}

.image {
  opacity: 1;
  display: block;
  width: 100%;
  height: auto;
  transition: 0.5s ease;
  backface-visibility: hidden;
  object-fit: cover;
}

.middle {
  transition: 0.5s ease;
  opacity: 0;
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  -ms-transform: translate(-50%, -50%);
  text-align: center;
}

.text {
  background-color: $secondary-color;
  font-weight: 700;
  color: $primary-color;
  font-size: 1rem;
  line-height: 1.6;
  padding: 1rem 2rem;
  border: 2px solid $primary-color;
}

.contact-section {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  width: 100%;
  margin-top: 4rem;
  margin-bottom: 1rem;

  .contact-head {
    font-weight: 500;
    font-size: 2.5rem;
    margin: 0.3rem 0;
  }

  .contact-paragraph {
    padding: 0.7em 0 0.5em 0;
    font-size: 1.4em;
    text-align: center;
    line-height: 1.4;
  }

  .contact-links {
    display: flex;
    justify-content: center;
    width: 100%;
    flex-wrap: wrap;
    padding: 0.8rem;
    margin-bottom: 0.1rem;
  }

  i {
    color: $third-color;
    font-size: 3rem;
    padding: 0.1em 0.4em;
  }

  i:hover {
    color: $primary-color;
  }
}

@import "media-main";
